[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

curio = "*"
"h11" = "*"
"h2" = "*"
werkzeug = "*"
watchdog = "*"
wsproto = "*"


[dev-packages]

pylint = "*"
pytest = "*"
mypy = "*"
isort = "*"

[requires]

python_version = "3.6"
